/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;  
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Start of Custom Styles */

/* temporary */
body {
    background-color: LightGray;
}
div {
    /*border: 1px solid Chocolate;*/
}
/* end of temporary */

body {
    background-color: #fff;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 0.01em;	    
	line-height: 1.5rem;
	-webkit-font-smoothing: antialiased; 
}
p {
	font-size: 1.1rem;
}
h1 {
	font-size: 1.8rem;
	margin-bottom: 1rem;
	line-height: 2.2rem;
}
h2 {
	font-size: 1.3rem;
	margin: 1.5rem 0;
}
h3 {
	font-size: 1.2rem;
	margin: 1rem 0;
	font-weight: bold;
	font-family: serif;
	color: #813e36;
}
a {
	text-decoration: none;
	color: #000;
}
.inner {
 	margin: 0 auto;  
	width: 67%;
}
.right {
	margin-left: 137px;
}
.left {
	float: left;
	width: 137px;
	padding-right: 20px;
}
#masthead {
	margin-top: 15px;
}
#masthead .inner {
	position: relative;
}
#masthead h1 {
	background: url(../images/jp_logo.png) no-repeat;
	height: 80px;
	text-indent: -9999rem;
}
#main-menu {
	color: #000;
	font-size: 14px;
	position: absolute;
	right: 0;
	top: 62px;
}
#main-menu li {
	display: inline-block;
	margin: 0 12px;
}
#main-menu li a {
	text-decoration: none;
	color: #111;
}
#main-menu li a:hover {
	text-decoration: underline;
}
#header-image {
	background: url(../images/header_image.jpg) no-repeat left top;
	height: 510px;
	background-size: cover;
}
.intro {
	padding-top: 10rem;
}
.intro img {
	border: 1px solid #999;
}
.intro h1 {
	font-size: 2.2rem;
}
.questions {
	clear: left;
	padding-bottom: 2rem;
}
.featured {
	background-color: #b2dba9;
	padding: 2rem 0;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
}
.featured h1 {
	color: #813e36;
	font-family: serif;
	font-size: 1.6rem;
	padding-bottom: 1rem;
}
.featured .figure {
	display: inline-block;
	padding: 0 1rem;
}
.featured .figure p {
	font-size: .95rem;
}
.featured .inner {
	text-align: center;
}
.featured img {
	box-shadow: 4px 4px 3px #888;
	border: 1px solid #000;
	margin-bottom: 1rem;
}
.main-footer {
	padding: 2.5rem 0;
	text-align: center;
}
.main-footer p {
	font-size: .9rem;
	color: #121212;
}
.main-footer .icons li {
	display: inline-block;
	border: 1px solid #ebeced;	
	border-radius: 50%;
	width: 3.2rem;
	height: 3.2rem;
	line-height: 3rem;
	margin: .5rem;
	color: #35b1e3;
}
.main-footer .copy {
	color: #b1b5bc;
	font-size: .8rem;
}