/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;  
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Start of Custom Styles */
body {
    background-color: #fff;
	font-family: 'Noto Sans', Verdana, sans-serif;
	letter-spacing: 0.01em;	    
	line-height: 1.5rem;
	-webkit-font-smoothing: antialiased; 
}
p {
	font-size: 1.1rem;
}
h1 {
	font-size: 1.8rem;
	line-height: 2.2rem;
	margin-bottom: 1rem;
}
h2 {
	font-size: 1.3rem;
	margin: 2rem 0;
}
h3 {
	font-size: 1.2rem;
	margin: 2.3rem 0 1rem;
	font-weight: bold;
	font-family: Georgia, serif;
	color: #813e36;
}
a {
	text-decoration: none;
	color: #000;
}
.right {
	margin-left: 140px;
}
.left {
	float: left;
	width: 140px;
	padding-right: 20px;
}
#masthead {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 12;
	background-color: #fff;
}
#masthead .inner {
	margin: 0 auto;
	padding: 15px 0;
	width: 75%;
	height: 110px;
	position: relative;
}
#main-menu {
	color: #000;
	font-size: 1em;
	position: absolute;
	right: 0;
	bottom: 10px;
}
#masthead h1 {
	background: url(../images/jp_logo.png) no-repeat;
	height: 80px;
	text-indent: -9999rem;
}
#main-menu li {
	display: inline-block;
	margin: 0 12px;
}
#main-menu li a {
	text-decoration: none;
	color: #111;
}
#slideshow {
	height: 600px;
}
#slideshow img {
    position:absolute;
    top:110px;
    left:0;
    z-index:8;
    width: 100%;
}
#slideshow img.active {
    z-index:10;
}

#slideshow img.last-active {
    z-index:9;
}

#header-image {
	background: url(../images/header_image.jpg) no-repeat left top;
	height: 600px;
	background-size: cover;
}
.content {
	margin: 0 auto;
	width: 60%;
}
main {
	padding-top: 9rem;
	position: relative;
	top: 110px;
	border: 1px solid red;
}
.intro {
}
.intro img {
	border: 2px solid #444;
}
.intro h1 {
	font-size: 2.1rem;
	font-weight: 700;
	letter-spacing: -.04rem;
}
.questions {
	clear: left;
	padding-bottom: 4rem;
}
.questions h2 {
	margin-top: 3em;
	margin-bottom: .3em;
}
.featured {
	background-color: #b4e5b0;
	padding: 2rem 0;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	text-align: center;
}
.featured h1, .contact h1{
	color: #813e36;
	font-size: 1.6rem;
	margin: 3rem 0 1.8rem;
	font-family: Georgia, serif;
	font-weight: 700;
}
.featured .figure {
	display: inline-block;
	padding: 30px 20px 0;
	width: 315px;
	text-align: left;
	vertical-align: top;
  	transition: transform 0.2s ease;	
}
.featured .figure:hover {
	transform: scale(1.18);
}
.featured .figure p {
	font-size: .95rem;
	line-height: 1.4rem;
}
.featured .inner {
	text-align: center;
	width: 100%;
}
.featured img {
	box-shadow: 4px 4px 3px #888;
	border: 1px solid #000;
}
#contact-area {
	width: 600px;
	margin: 5rem auto 7rem;
}
#contact-area input, #contact-area textarea {
	padding: 5px;
	width: 471px;
	font-family: Helvetica, sans-serif;
	font-size: 1.4em;
	margin: 0px 0px 10px 0px;
	border: 2px solid #d3d3d3;
}
#contact-area textarea {
	height: 90px;
}
#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid #35B1E3;
}
#contact-area input.submit-button {
	width: 100px;
	float: right;
	background-color: #35B1E3;
	font-size: 1.3rem;
}
.contact h1 {
	margin: 3rem 0 2rem;
}
label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
	padding-top: 5px;
	font-size: 1.1em;
}
.main-footer {
	padding: 2.5rem 0;
	text-align: center;
	border-top: 1px solid #d3d3d3;
}
.main-footer p {
	font-size: .9rem;
	color: #121212;
}
.main-footer .icons li {
	display: inline-block;
	width: 3rem;
	height: 3rem;
	color: #35b1e3;
	border: 1px solid #e0e0e0;
	margin: 8px;
	border-radius: 9px;
	line-height: 3rem;
}
.main-footer .icons li a {
	color: #35b1e3;
}
.main-footer .copy {
	color: #b1b5bc;
	font-size: .8rem;
}
a.anchor {
	display: block;
	position: relative;
	top: -160px;
	visibility: hidden;
}